/*
 * 01. Settings - breakpoints.scss
 *
 * Breakpoints needed for sass-mq() mixin
 *
 */

$breakpoint-tiny: 575px !default;
$breakpoint-small: 767px !default;
$breakpoint-medium: 1024px !default;
$breakpoint-large: 1200px !default;
$breakpoint-huge: 1600px !default;

$grid: (
    'xs': $breakpoint-tiny,
    'sm': $breakpoint-small,
    'md': $breakpoint-medium,
    'lg': $breakpoint-large,
    'xl': $breakpoint-huge
);

$smallmobile: map-get($grid, 'xs');
$mobile: map-get($grid, 'sm');
$tablet: map-get($grid, 'md');
$desktop: map-get($grid, 'lg');
$wide: map-get($grid, 'xl');