/*
 * 01. Settings - colors.scss
 *
 * Colors used throughout the project
 *
 */

$color-light: #ffffff;
$color-dark: #000000;

$color-blue: #718ad9;
$color-red: #D55734;
$color-green: #a6cca4;
$color-yellow: #febe5d;
$color-gray: #d5d7d5;

$color-gray-1: #222222;
$color-gray-2: #545454;
$color-gray-3: #8a8a8a;
$color-gray-4: #e6e6e6;
$color-gray-5: #f4f4f4;

$color-primary: $color-yellow;
$color-body: $color-gray-1;


/* States color */
$color-danger: $color-red;
$color-success: $color-green;
$color-warning: $color-yellow;
$color-information: $color-blue;

$colors-grid: (
        light: $color-light,
        dark: $color-dark,
        primary: $color-primary,
        information: $color-information,
        success: $color-green,
        warning: $color-warning,
        danger: $color-danger,
)