/*
 * 01. Settings - layout.scss
 *
 * $container-width defines the total width of .container
 * $container-gutter-width defines the horizontal padding added to .container
 *
 * $layout-gutter width defines the horizontal space between each column
 * $layout-columns defines the number of columns in the grid system
 *
 */

$container-width: $desktop;
$container-gutter-width: 24px;

$layout-gutter-width: 40px;
$layout-columns: 12;