.u-flex {
    display: flex;

    @for $i from 1 through length($spacers) {
        &--column-gap-#{$i - 1} {
            column-gap: nth($spacers, $i);
        }

        &--row-gap-#{$i - 1} {
            row-gap: nth($spacers, $i);
        }
    }

    &--vertical {
        flex-direction: column;
    }

    &--align-center {
        align-items: center;
    }

    &--justify-between {
        justify-content: space-between;
    }

    &--wrap {
        flex-wrap: wrap;
    }

    &__first {
        flex: 1;
    }
}