// =============================================================================
// Utilitaires pour les espacements
// =============================================================================
// La nomenclature de la classe d'espacement :
// u-{ Raccourci de nommage}
//

/*
 *  Marges automatiques
 */
.u-margin-auto {
    margin: auto;
}

// x = axe x = centrage horizontal
.u-margin-x-auto {
    margin-left: auto;
    margin-right: auto;
}

.u-margin-y-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.u-margin-bottom-auto {
    margin-bottom: auto;
}

.u-margin-top-auto {
    margin-top: auto;
}

.u-margine-left-auto {
    margin-left: auto;
}

.u-margin-right {
    margin-right: auto;
}

/*
 * Génération des classes utilitaires d'espacements
 * Tous les niveaux de 0 à 14 sont généré pour tous les types de marges interne et externe (margin & padding - top/right/bottom/left)
 * Exemples de classes générés:
 * .u-m-0 { margin: 0; }
 * .u-mb-4 { margin-bottom: $spacer-4; // 16px }
 * .u-ml-8 { margin-left: $spacer-8; // 64px }
 * .u-pr-8 { padding-right: $spacer-8; // 64px }
 * .u-pb-14 { padding-bottom: $spacer-14; // 144px }
 */
@each $spacer-shortname, $spacer-longname in $spacer-shortnames {
    @for $i from 1 through length($spacers) {
        .u-#{$spacer-shortname}-#{$i - 1},
        .u-#{$spacer-longname}-#{$i - 1} {
            #{$spacer-longname}: nth($spacers, $i);
        }
    }
}

/*
 * Classes utilitaires d'espacement responsive
 * Tous les styles responsive sont appliqué au point de rupture spécifié et au-dessus
 * Exemples de classes générés:
 * @media (min-width: 1024px) {
 *      .u-m-md-0 { margin: 0; }
 *  }
 * @media (min-width: 792px) {
 *      .u-pb-sm-12 { padding-bottom: 112px; }
 *  }
 */
@each $size-shortname, $breakpoint in $grid {
    @media (min-width: $breakpoint) {
        @each $spacer-shortname, $spacer-longname in $spacer-shortnames {
            @for $i from 1 through length($spacers) {
                .u-#{$spacer-shortname}-#{$size-shortname}-#{$i - 1},
                .u-#{$spacer-longname}-#{$size-shortname}-#{$i - 1} {
                    #{$spacer-longname}: nth($spacers, $i);
                }
            }
        }
    }
}
