/* ==========================================================================
   #TEXT-UTILITIES
   ========================================================================== */

.u-text-upper {
    text-transform: uppercase;
}

.u-text-right {
    text-align: right;
}

.u-text-center {
    text-align: center;
}

.u-text-bold {
    font-weight: 700;
}

.u-text-italic {
    font-style: italic;
}

@include make-font-size()
