.o-footer {
    background-color: $color-dark;
    color: $color-light;

    &__link {
       &:after {
           background-color: $color-light;
       }

        @include on-event {
            color: $color-dark;
        }

        @include on-event-accessible {
            outline: max(2px, .15em) solid var(--color-modifier, $color-light);
        }
    }
}