.o-form {

    &__fieldset {
        align-items: flex-start;
    }

    &__field {
        background: $color-light;
        padding: $spacer-1 $spacer-2;
        border-radius: 1rem;
        display: inline-block;

        &-input {
            margin: 0;
        }
    }

    &__display {
        background: $color-light;
        padding: $spacer-1 $spacer-2;
        border-radius: 1rem;
    }

    &__submit {
        border: 0;
    }
}