/*
 * 04. Elements - button.scss
 */

button,
input[type="submit"],
input[type="button"],
a[type="button"] {
    @include basic-transition();
    display: inline-block;
    padding: $spacer-1;
    margin: 0;
    color: $color-body;
    background: $color-light;
    border: solid 1px $color-body;
    border-radius: 1rem;
    box-shadow: 0 0 .4rem rgba(0, 0, 0, .2);;
    cursor: pointer;
    outline-offset: calc($spacer-1 * 0.5);
    letter-spacing: .12em;
    line-height: inherit;

    @include on-event {
        box-shadow: 0 0 1.8rem rgba(0, 0, 0, .2);;
    }

    @include on-event-accessible {
        outline: 2px solid var(--color-modifier, $color-body);
        outline-offset: 2px;
    }

    &:after {
        content: none;
    }
}

/* Needs to be separated because of a Firefox issue */
::file-selector-button {
    color: $color-body;
    background: transparent;
    padding: $spacer-1;
    border: solid 2px var(--color-modifier, $color-body);
}