table {
    border-collapse: collapse;
    margin: $spacer-4 0;
}

caption {
    font-weight: 700;
}

thead {
    font-weight: 700;
    border-bottom: 2px solid $color-dark;

    td, th {
        text-align: center;
        padding: $spacer-2;
    }
}

tfoot {
    border-top: 2px solid $color-dark;
}

tr {
    &:nth-child(2n) {
        background-color: $color-gray-4;
    }
}

td, th {
    padding: $spacer-1;
    border: 1px solid $color-dark;
}