/*
 * 01. Settings - z-layers.scss
 *
 * type @map
 * $z-layers is a map of different useful value for z-index property
 *
 * usage {
 *      z-index: map-get($z-layers, body)
 * }
 *
 * backdrop = -1
 * body = 0
 * foreground = 1
 * header = 2
 * nav-mobile = 3
 * modal = 4
 *
 */

$z-layers-list: (
      backdrop,
      body,
      foreground,
      header,
      nav-mobile,
      modal
);
$z-layers: ();
$layer-value: -1;

@each $layer-name in $z-layers-list {
    $z-layers: map_merge($z-layers, ($layer-name: $layer-value));
    $layer-value: $layer-value + 1;
}
