// =============================================================================
// ICONS
// =============================================================================

// Utilisation dans le HTML : <i class="o-icon o-icon--facebook" aria-hidden="true"></i>

.c-icon {
    @include basic-transition();

    &::before {
        @include basic-transition();
        font-family: $font-family-icons;
        color: var(--color-modifier, currentColor, $color-body);
        speak: never;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        vertical-align: middle;
    }

    @each $icon, $code in $icons {
        &--#{$icon} {
            &::before {
                content: "#{$code}";
            }
        }
    }

    // Retourne l'icone à la manière d'un mirroir
    &--mirror {
        &::before {
            transform: scaleX(-1);
        }
    }

    // Retourne l'icone verticalement
    &--mirror-y {
        &::before {
            transform: scaleY(-1);
        }
    }

    &--rotate {
        &-90 {
            transform: rotate(-90deg);
        }
    }

    // Icone 1,3x plus grande que le texte environnant
    &--medium {
        font-size: 1.3em;
    }

    // Icone 1,6x plus grande que le texte environnant
    &--big {
        font-size: 1.6em;
    }

    &--background {
        padding: $spacer-1;
        border-radius: 0 1rem 1rem 0;
    }


    &--bordered {
        &::before {
            padding: $spacer-1;
            border: solid $color-body .2rem;
            border-radius: 1rem;
        }
    }

    @include on-event() {
        background: var(--color-modifier, $color-body);
        &::before {
            color: $color-body
        }
    }
}

// Pour spécifier la présence d'une icône et faciliter son positionnement. Utiliser la classe "has-icon" sur l'élément parent à l'icône.
/* Utilisation dans le HTML :
    <div class="has-icon has-icon--left">
        <i class="o-icon o-icon--facebook" aria-hidden="true"></i>
        <span class="u-visuallyhidden">Mon texte alternatif accessible</span>
    </div>
 */
.has-icon {
    display: inline-flex;
    align-items: center;

    .c-icon {
        z-index: map-get($z-layers, foreground);
        position: relative;
    }

    &--left {
        .c-icon {
            margin-right: $spacer-2;
        }
    }

    &--right {
        .c-icon {
            margin-left: $spacer-2;
        }
    }
}

