// =============================================================================
// GRID
// =============================================================================

/**
 * Génération des colonnes
 */
@mixin make-columns($columns: $layout-columns, $gutter: $layout-gutter-width, $breakpoints: $grid) {
    @each $size, $breakpoint in $breakpoints {
        @media (min-width: $breakpoint) {
            @for $column from 1 through $columns {
                .col-#{$size}-#{$column} {
                    width: calc($column / $columns * 100%);
                    @include clearfix();
                }
            }
        }
    }
}

// Générations de classes types Bootstrap
/* Exemple d'utilisation :
<div class="row">
    <div class="col-md-6">
    <div class="col-md-6">
</div>
 */

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 calc($layout-gutter-width * -.5);
    row-gap: var(--row-gap);

    > *  {
        flex-grow: 1;
        padding-left:  calc($layout-gutter-width * .5);
        padding-right: calc($layout-gutter-width * .5);
    }
}

.col {
    flex: 1 0 0%;
}

[class*="col-"] {
    min-height: 1px;
    padding-left:  calc($layout-gutter-width * .5);
    padding-right: calc($layout-gutter-width * .5);
    width: 100%;
    flex-grow: 0;
}

// Création du colonnage à la Bootstrap
@include make-columns();
